@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.tabs .tab a {
  color: green lighten-4;
}
.tabs .tab a.active {
  color: green lighten-4;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
  }

main {
  font-family: 'Inter', sans-serif;
  flex: 1 0 auto;
}